.toggleButton {
    background: #48bb78;
    color: white;
    padding: 15px;
    margin: 30px;
  }
  
  .form {
    background: white;
    padding: 25px;
    margin: 30px;
  }
  
  .input,
  .textarea {
    width: 90%;
    padding: 30px;
    margin-bottom: 15px;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
  }
  
  .submitButton {
    background: #48bb78;
    color: white;
    padding: 12px 24px;
  }
  
  .cancelButton {
    background: #a0aec0;
    color: white;
    padding: 12px 24px;
  }
  