.Card {
    background-color: gray;
    padding: 80px;
    border-radius: 15%;
    margin: 40px;
    width: 300px;
}

.Title {
    background-color: rgb(42, 228, 107);
}

.Text {
    background-color: blueviolet;
}

.Date {
    background-color: rgb(175, 150, 198);
}

.Likes {
    background-color: rgb(179, 38, 38);
}

.Comments-Zone {
    background-color: rgb(241, 86, 166);
}