.Comment {
    background-color: bisque;
    margin: 5px;
    padding: 10px;
    border-radius: 30%;
}

.CommentDate {
    background-color: rgb(227, 151, 58);
}

.CommentLikes {
    background-color: rgb(233, 134, 215);
}